 @import "tailwindcss"; 

 .home{
  
   --search-bar-height:40px;
   --nav-padding-top:10vh;
   --nav-height-block:78.3px;
   --project-header-block:17.2px;

}

.logo-visible {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.35s ease-out,
    transform 0.35s ease-out;
}

.logo-hidden {
  opacity: 0;
  transform: translateY(-30px);
  transition:
    opacity 0.35s ease-out,
    transform 0.35s ease-out;
}



 @keyframes logoEnter {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.animate-logo-enter {
  animation: logoEnter 0.8s ease-out forwards;
  
} 


